@use '@/shared/scss/underscore' as _;

.main,
.divider,
.otherMethods {
  margin-bottom: _.unit(4);
}

.terms {
  margin-top: _.unit(4);
  @include _.text-hint;
  text-align: center;
  font: var(--font-body-3);
}

.checkbox {
  justify-content: center;
}

.createAccount,
.useWorkEmailHint,
.singleSignOn {
  text-align: center;
  margin-bottom: _.unit(4);
}

.useWorkEmailHint {
  padding: 0 _.unit(6);
}

.placeHolder {
  flex: 1;
}

:global(body.desktop) {
  .placeHolder {
    flex: 0;
  }
}
