@use '@/shared/scss/underscore' as _;

.main,
.divider,
.otherMethods {
  margin-bottom: _.unit(6);
}

.terms {
  margin-top: _.unit(4);
  @include _.text-hint;
  text-align: center;
  font: var(--font-body-3);
}

.checkbox {
  justify-content: center;
}

.createAccount,
.singleSignOn {
  text-align: center;
  color: var(--color-type-secondary);
  font-size: 14px;
  font-weight: 500;
}


.placeHolder {
  flex: 1;
}

:global(body.desktop) {
  .placeHolder {
    flex: 0;
  }
}
