@use '@/shared/scss/colors' as colors;
@use '@/shared/scss/underscore' as _;

body {
  background: var(--color-bg-float-base);

  &.light {
    @include colors.light;
  }

  &.dark {
    @include colors.dark;
  }
}

/* Preview Settings */
.preview {
  pointer-events: none;
  user-select: none;

  .viewBox::-webkit-scrollbar {
    display: none;
  }

  main {
    pointer-events: none;
    user-select: none;
  }
}

:global(body.mobile) {
  --max-width: 360px;
}

:global(body.desktop) {
  --max-width: 400px;
}
