@use '@/shared/scss/underscore' as _;

.socialButton {
  column-gap: _.unit(3);
}

.icon {
  width: _.unit(6);
  height: _.unit(6);
  @include _.image-align-center;
  overflow: hidden;
}

.loadingIcon {
  display: block;
  // To avoid the layout shift, add padding manually (keep the same size as the icon)
  padding: 0 1.5px;
  color: var(--color-brand-loading);
  font-size: 0;
  line-height: normal;
}

.name {
  overflow: hidden;
  @include _.flex-row;
  height: 100%;

  span {
    @include _.multi-line-ellipsis(2);
    line-height: _.unit(5);
  }
}
