.aICoResearcherLogoWrapper {
  position: relative;
  width: 178px;
  height: 21px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
}
