@use '@/shared/scss/underscore' as _;

.loadingIcon {
  width: 100%;
  height: 100%;
}

.container {
  width: 50px;
  height: 50px;
  @include _.flex-column;

  .loadingIcon {
    color: var(--color-static-dark-type-primary);
  }
}
