@use '@/shared/scss/underscore' as _;


.container {
  width: 100%;
  @include _.flex-column;
}

.logoWrapper {
  @include _.flex-row;
}

.connectIcon {
  color: var(--color-neutral-variant-80);
  margin: 0 _.unit(3);
}

.logo {
  height: 36px;
  width: auto;
  @include _.image-align-center;
}

.headline {
  flex-shrink: 0;
  text-align: center;
  color: var(--color-type-primary);
  @include _.multi-line-ellipsis(2);
}

.subHeadline {
  margin-top: _.unit(3);
  color: var(--color-type-secondary);
  text-align: center;
}

:global(body.mobile) {
  .container {
    min-height: 92px;
  }

  .logo {
    height: 30px;
  }

  .logoWrapper:not(:last-child) {
    margin-bottom: _.unit(2);
  }

  .headline {
    font: var(--zerve-font-login-title-mobile);
    letter-spacing: -1.5%;
  }

  .subHeadline {
    font: var(--zerve-font-login-subtitle-mobile);
    padding: 0 _.unit(16);
  }
}

:global(body.desktop) {
  .logoWrapper:not(:last-child) {
    margin-bottom: _.unit(10);
  }

  .headline {
    font: var(--zerve-font-login-title-desktop);
    letter-spacing: -1.5%;
  }

  .subHeadline {
    font: var(--zerve-font-login-subtitle-desktop);
    padding: 0 _.unit(6);
  }
}
