@use '@/shared/scss/underscore' as _;

$logo-height: 36px;

.container {
  width: 100%;
  @include _.flex-column;
}

.logoWrapper {
  @include _.flex-row;
}

.connectIcon {
  color: var(--color-neutral-variant-80);
  margin: 0 _.unit(3);
}

.logo {
  height: $logo-height;
  width: auto;
  @include _.image-align-center;
}

.headline {
  flex-shrink: 0;
  text-align: center;
  color: var(--color-type-primary);
  @include _.multi-line-ellipsis(2);
}

.subHeadline {
  margin-top: _.unit(3);
  font: var(--zerve-font-login-subtitle);
  color: var(--color-type-secondary);
  padding: 0 _.unit(6);
  text-align: center;
}

:global(body.mobile) {
  .container {
    min-height: 92px;
  }

  .logoWrapper:not(:last-child) {
    margin-bottom: _.unit(2);
  }

  .headline {
    font: var(--zerve-font-login-title);
    letter-spacing: -1.5%;
  }
}

:global(body.desktop) {
  .logoWrapper:not(:last-child) {
    margin-bottom: _.unit(10);
  }

  .headline {
    font: var(--zerve-font-login-title);
    letter-spacing: -1.5%;
  }
}
